/*
* Third Party
*/
@import "../../bower_components/normalize.css/normalize.css";

/*
* Custom
*/



.form .payment-list .auto-payment-list {
  color: black;
  font-family: 'myFirstFont';
}

.header {
  background-color: #1f2229;
  color: #8f9399;
}

.footer {
  background-color: #1f2229;
  color: #8f9399;
  font: 16px/1.375 tele2_textsans_regular,sans-serif;
}

.credit-card {
  width: 100%;
  display: block;
  border: 2px solid #7a7a7a;
  padding: 0 40px 0 20px;
  height: 60px;
  margin: 0 0 20px;
  min-width: 90px;
}

.card-duration {
  width: 50px;
}

#cvv {
  width: 30px;
}

.payment-icons img {

}

input, select, textarea {
  font: 100% tele2_textsans_regular,sans-serif;
  color: #000;
  vertical-align: middle;
  outline: none;
  border-radius: 0;
}

.select #credit-card option[value="visa"] { background-image: url(../img/visa.png) }
.select #credit-card option[value="mastercard"] { background-image: url(../img/mastercard.png) }
.select #credit-card option[value="unionpay"] { background-image: url(../img/unionpay.png) }



@font-face {
  font-family: 'myFirstFont';
  src: url('../fonts/tele2_textsans_regular.woff');
}

@font-face {
  font-family: 'myFirstFont';
  src: url('../fonts/tele2_textsans_bold.woff');
  font-weight: bold;
}

