.form {
    color: black;
    font-family: 'myFirstFont';

}

.headId {
    background-color: #1f2229;
    color: #8f9399;
}


#footerId {
    background-color: #1f2229;
    color: #8f9399;
    font: 16px/1.375 tele2_textsans_regular,sans-serif;
}

.test {
    width: 100%;
    display: block;
    border: 2px solid #7a7a7a;
    padding: 0 40px 0 20px;
    height: 60px;
    margin: 0 0 20px!important;
    min-width: 90px;
}


.payment-icons img {

}

input, select, textarea {
    font: 100% tele2_textsans_regular,sans-serif;
    color: #000;
    vertical-align: middle;
    outline: none;
    border-radius: 0;
}




@font-face {
    font-family: 'myFirstFont';
    src: url('../fonts/tele2_textsans_regular.woff');
}

@font-face {
    font-family: 'myFirstFont';
    src: url('../fonts/tele2_textsans_bold.woff');
    font-weight: bold;
}

